target/
.idea/
.settings/
.classpath
.project
.factorypath
.flattened-pom.xml
resource.syso
versioninfo.go
nb-configuration.xml
nbactions.xml
nbactions-publish.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/private/
/build.properties
/mind-map/nb-mind-map/private/
/mind-map/nb-mind-map/build.properties
/mind-map/idea-mindmap/out/
/mind-map/idea-mindmap/idea-mindmap.iml
/mind-map/idea-mindmap/idea-mindmap.zip
/mind-map/idea-mindmap/.idea/
/mind-map/idea-mindmap/lib/
/mind-map/mind-map-model/nbproject/
/mind-map/mind-map-swing-panel/nbproject/
/mind-map/nb-mind-map/nbproject/
/mind-map/scia-reto/nbproject/
/mind-map/mind-map-ide-common/nbproject/
/mind-map/idea-mindmap/downloaded/
/mind-map/private/
/mind-map/idea-mindmap/.gradle/
/mind-map/idea-mindmap/build/
/mind-map/idea-mindmap/gradle/
/mind-map/idea-mindmap/gradlew
/mind-map/idea-mindmap/gradlew.bat
/mind-map/nb-configuration.xml
/mind-map/.idea/
/mind-map/idea-mindmap/idea-mindmap.iws
/mind-map/idea-mindmap/idea-mindmap.ipr
*.iml
/mind-map/scia-reto-win-launcher/bin
/mind-map/scia-reto-win-launcher/pkg
/mind-map/mind-map-annotation-processor-it/**/*.mmd
/mind-map/idea-mindmap/bin
mind-map/idea-mindmap/.classpath
mind-map/idea-mindmap/.project
mind-map/idea-mindmap/.settings/org.eclipse.buildship.core.prefs
versioninfo.go
resource.syso
resource_windows.syso
jkslink
.build