target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/private/
/build.properties
/mind-map/nb-mind-map/private/
/mind-map/nb-mind-map/build.properties
/mind-map/idea-mindmap/.idea/
/mind-map/idea-mindmap/out/
/mind-map/idea-mindmap/idea-mindmap.iml
/mind-map/idea-mindmap/idea-mindmap.zip